/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 26, 2015, 6:14:06 PM
    Author     : Deian
*/

.like_button {
    background-image: url("../assets/glyphs/glyphicons-20-heart-empty.png");
    background-repeat: no-repeat;
    background-size: 1.1em;
    background-position: 0%;
    text-align: right;
    font-family:"PT Sans Bold", 'Arial Unicode', 'Lucida Sans Unicode', Arial, sans-serif;
    font-size-adjust:0.5;
    font-weight: bold;
    font-style: normal;
    font-size: 50%;
    color: gray;
    width: 3.8em;
}

.like_button:hover {
    background-image: url("../assets/glyphs/glyphicons-13-heart-pressed.png");
    color: #575757;
    cursor:pointer;
}

.top_half .top_half_main .like_button {
    position: relative;
    display: inline-block;
    clear: both;
    float: left;
    margin-top: 0.5%;
}

.comment_body .comment_body_data .like_button {
    position: relative;
    display: inline-block;
    float: left;
    margin-left: 3.6%;
}

.share_button {
    background-image: url("../assets/glyphs/glyphicons-309-share-alt.png");
    background-repeat: no-repeat;
    background-size: 1.1em;
    background-position: 0%;
    text-align: right;
    font-family:"PT Sans Bold", 'Arial Unicode', 'Lucida Sans Unicode', Arial, sans-serif;
    font-size-adjust:0.5;
    font-weight: bold;
    font-style:normal;
    font-size: 50%;
    color: gray;
    min-width: 5.2em;
}

.share_button:hover {
    background-image: url("../assets/glyphs/glyphicons-309-share-alt-pressed.png");
    color: #575757;
    cursor:pointer;
}

.top_half_main .share_button {
    position: relative;
    display: inline-block;
    float: left;
    margin-left: 1.5em;
    margin-top: .5%;
}

.comment_body .comment_body_data .share_button {
    position: relative;
    display: inline-block;
    float: left;
    margin-left: 1.5em;
}

.comment_button {
    background-image: url("../assets/glyphs/glyphicons-310-comments.png");
    background-repeat: no-repeat;
    background-size: 1.1em;
    background-position: 0%;
    text-align: right;
    font-family:"PT Sans Bold", 'Arial Unicode', 'Lucida Sans Unicode', Arial, sans-serif;
    font-size-adjust:0.5;
    font-weight: bold;
    font-style:normal;
    width: 7em;
    font-size: 50%;
    color: gray;
    min-width: 7.6em;
    margin-bottom: 1em;
}

.comment_button:hover {
    background-image: url("../assets/glyphs/glyphicons-310-comments-pressed.png");
    color: #575757;
    cursor:pointer;
}

.comment_body .comment_body_data .comment_button {
    position: relative;
    display: inline-block;
    float: left;
    margin-left: 1.2em;
}


.comment_body .comment_body_data .report_button {
    background-image: url("../assets/glyphs/glyphicons-267-flag.png");
    background-repeat: no-repeat;
    background-size: 1.1em;
    background-position: 0% 20%;
    text-align: right;
    font-family: 'PT Sans Bold', 'Arial Unicode', 'Lucida Sans Unicode', Arial, sans-serif;
    font-size-adjust:0.5;
    font-weight: bold;
    font-style:normal;
    font-size: -0.2em;
    color: #C3C3C3;
    position: relative;
    display: inline-block;
    float: right;
    font-size: 50%;
    color: gray;
    min-width: 6.2em;
}

.comment_body .comment_body_data .report_button:hover {
    background-image: url("../assets/glyphs/glyphicons-267-flag-pressed.png");
    color: gray;
    cursor: pointer;
}
