@charset "UTF-8";
/* CSS Document */

/* Default style, feel free to remove if not needed. */
body, body * {
    vertical-align: baseline;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
}

/* Div layer for the entire banner. */
#container_dc {
    position: absolute;
    width: 198px;
    height: 598px;
    border:1px solid #666666;
    top: 0px;
    left: 0px;
    margin: auto;
    overflow: hidden;
}

#content_dc {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #FFF;
    z-index: 100;
}

#content_dc div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: 1;
}

#content_dc div img{
    opacity: 0;
}

/* Invisible button for background clickthrough. */
#background_exit_dc {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    cursor: pointer;
    opacity: 0;
    z-index: 400;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

/*STATIC(NONE_FRAMED)*/

.gsk_logo {
    position: absolute;
    margin: 3%;
    right: 0;
    z-index: 1;
}

.maxi_logo {
    position: absolute;
    margin: 27%;
    bottom: -5%;
    z-index: 1;
    width: 46%;
}

/*POSITIONS_CONTENT*/

.frame_1_1 {
    height: 53%;
    margin: 25%;
    margin-top: 52%;
}

.frame_2_1 {
    margin: 13%;      
    margin-top: 57%;
}

.frame_2_2 {
    margin: 13%;
    margin-top: 14%;
}

.frame_2_3 {
    margin: 29%; 
    margin-top: 17%;
}

.frame_3_1 {
    margin: 10%;
    margin-top: 55%;
}

.frame_3_2 {
    margin: 15%;
    margin-top: 15%;
}

.frame_4_1 {
    margin: 19%;
    margin-top: 79%;
}

.frame_4_2 {
    margin: 46%;
    margin-top: 3%;
}

/*CUSTOM ANIMATIONS*/

.flash_reset {
    -webkit-animation: flash_reset 1000ms ease-in-out;
    -moz-animation: flash_reset 1000ms ease-in-out;
    animation: flash_reset 1000ms ease-in-out;
}

@-webkit-keyframes flash_reset {
   50% { opacity: 0;}
}

@-moz-keyframes flash_reset {
    50% { opacity: 0;}
}

@keyframes flash_reset {
   50% { opacity: 0;}
}

.background {
    height: 108%;
    margin-top: -10%;
    -webkit-animation: background-transform 15000ms linear forwards;
    animation: background-transform 15000ms linear forwards;
}

@-webkit-keyframes background-transform {
    from { -webkit-transform: translate(0%,0%); }
    to { -webkit-transform: translate(-40%,3%); }
}

@-moz-keyframes background-transform {
    from { -moz-transform: translate(0%,0%); }
    to { -moz-transform: translate(-40%,3%); }
}

@keyframes background-transform {
    from { transform: translate(0%,0%); }
    to { transform: translate(-40%,3%); }
}

.fade-in-up {
    -webkit-animation: fade-in-up 500ms ease-out forwards;
    -moz-animation: fade-in-up 500ms ease-out forwards;
    animation: fade-in-up 500ms ease-out forwards;
}

@-webkit-keyframes fade-in-up {
    0% { -webkit-transform: translateY(10px);}
    50% { -webkit-transform: translateY(-6px);}
    100% { -webkit-transform: translateY(0px);
           opacity: 1; 
    }
}

@-moz-keyframes fade-in-up {
    0% { -moz-transform: translateY(10px);}
    50% { -moz-transform: translateY(-6px);}
    100% { -moz-transform: translateY(0px); 
           opacity: 1;
    }
}

@keyframes fade-in-up {
    0% { transform: translateY(10px);}
    50% { transform: translateY(-6px);}
    100% { transform: translateY(0px); 
           opacity: 1;
    }
}

.fade-out {
    -webkit-animation: fade-out 300ms ease-out forwards;
    -moz-animation: fade-out 300ms ease-out forwards;
    animation: fade-out 300ms ease-out forwards;
}

@-webkit-keyframes fade-out {
    from { opacity: 1;}
    to { opacity: 0; transform: translateY(20px) }
}

@-moz-keyframes fade-out {
    from { opacity: 1;}
    to { opacity: 0; -moz-transform: translateY(20px) }
}

@keyframes fade-out {
    from { opacity: 1;}
    to { opacity: 0; transform: translateY(20px)}
}

.arrow-transform {
    -webkit-animation: arrow-transform 700ms ease-in-out 4;
    -moz-animation: arrow-transform 700ms ease-in-out 4;
    animation: arrow-transform 700ms ease-in-out 4;
}

@-webkit-keyframes arrow-transform {
    50% { opacity: 1; }
}

@-moz-keyframes arrow-transform {
    50% { opacity: 1; }
}

@keyframes arrow-transform {
    50% { opacity: 1; }
}

/*CUSTOM DELAYS*/

.timeout_none {
    -webkit-animation-delay: 0ms;
    animation-delay: 0ms;
}

.timeout_500 { 
    -webkit-animation-delay: 500ms; 
    animation-delay: 500ms; 
}

.timeout_3000 { 
    -webkit-animation-delay: 3000ms; 
    animation-delay: 3000ms; 
}

.timeout_3500 { 
    -webkit-animation-delay: 3500ms; 
    animation-delay: 3500ms; 
}

.timeout_4000 { 
    -webkit-animation-delay: 4000ms; 
    animation-delay: 4000ms; 
}

.timeout_4500 { 
    -webkit-animation-delay: 4500ms; 
    animation-delay: 4500ms; 
}

.timeout_7000 { 
    -webkit-animation-delay: 7000ms; 
    animation-delay: 7000ms; 
}

.timeout_7500 { 
    -webkit-animation-delay: 7500ms; 
    animation-delay: 7500ms; 
}

.timeout_8000 { 
    -webkit-animation-delay: 8000ms; 
    animation-delay: 8000ms; 
}

.timeout_10500 { 
    -webkit-animation-delay: 10500ms; 
    animation-delay: 10500ms; 
}

.timeout_11000 { 
    -webkit-animation-delay: 11000ms; 
    animation-delay: 11000ms; 
}

.timeout_11500 { 
    -webkit-animation-delay: 11500ms; 
    animation-delay: 11500ms; 
}

.timeout_14000 { 
    -webkit-animation-delay: 14000ms; 
    animation-delay: 14000ms; 
}

.timeout_14500 { 
    -webkit-animation-delay: 14500ms; 
    animation-delay: 14500ms; 
}